# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# latex stuff
*.aux
*.bbl
*.blg
*.lof
*.log
*.lol
*.out
*.tex

